<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/admin.css">
    <title>QUIZ</title>
</head>

<body>
    <div class="header">
        <div class="detail" id="Detail">
        </div>
        <div class="timer">
            Time
            <%- include ('./timer.ejs') %> 
        </div>
    </div>
    <div class="overlay" id="instruction">
        <div class="overlay-content">
            <div class="instruction-content">
                <h1>Instruction</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quidem.
                </p>
                <button class="btn" id="start">Start</button>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="quiz" id="quizdisplay">
            
        </div>
        <div class="question">
            <div class="questionShow" id="questionshow">
                
            </div>
            <div>
                <button type="button" onclick="logout()">Finish</button>
            </div>
        </div>
    </div>
    <script src="../public/js/quiz.js"></script>
</body>

</html>