<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction</title>
    <link rel="stylesheet" href="../public/css/instruction.css">
</head>

<body>
    <div class="logo">
        <img src="../public/assets/Indian_Institute_of_Information_Technology,_Bhagalpur_logo.png" alt="" srcset=""
            width="100%" height="100% ">
    </div>
    <div class="about">
        <h3>Indian Institute of Information Technology Bhagalpur</h3>
        <!-- <h4>Entrance Exam</h4> -->
    </div>
    <div class="inst">
        <div class="timer" style="text-align: center;">
            Time
            <%- include ('./timer2.ejs') %>
        </div>
        <h1>Instruction</h1>
        <ol id="teachingandNonteaching">
            <li>
                All the questions are of Objective Type and only one answer is correct.
            </li>
            <li>
                Question No.1 to No.30 will be of general aptitude based.
            </li>
            <li>
                Question No.31 to No.70 will be of Departmental Core Subject based.
            </li>
            <li>
                Duration of the Admission Test is 90 minutes (From 11:00 AM to 12:30 PM).
            </li>
            <li>
                If you have done login before 11:00 AM, then you will not be able to start the test.
                At 11:00 AM you will be able to start the test by clicking the "next" button.
            </li>
            <li>
                Except Scientific non programmable calculators, you are not allowed to carry electronic gadget at the
                exam hall.
            </li>
            <li>
                For calculation you will be provided blank pages. You have to bring your own pen/pencil.
            </li>
            <li>
                You are required to comply with the directions given by the Invigilators.
            </li>
            <li>
                If you are experiencing any technical problem, you must immediately contact the Invigilator.
            </li>
            <li>
                You are not permitted to leave the exam hall before 12:00 noon.
            </li>
        </ol>
        <!-- <ol id="teachingandNonteaching">

        </ol> -->
        <a href="/quiz">
            <button type="button">Next</button>
        </a>
    </div>
    <script>
        if (localStorage.getItem('token')) {
        } else {
            window.location.href = '/'
        }

        function fetchUser() {
            fetch(`/user/access`, {
                method: 'POST',
                headers: {
                    'content-type': 'application/json',
                    'auth_token': `${localStorage.getItem('token')}`
                }
            })
                .then((res) => res.json())
                .then((body) => {
                    // console.log(body);
                    if (body.status === 0) {
                        if (body.data.stream.length === 0) {
                            window.location.href = '/data'
                        }
                        // console.log(document.getElementById('teachingandNonteaching').innerHTML)
                        console.log(body.data.program)
                        let html =document.getElementById('teachingandNonteaching').innerHTML
                        if(body.data.program==='Teaching'){
                            html +=`
                            <li>
                                Instruction for Teaching
                            </li>
                                            
                            `
                        }else{
                            html +=`
                            <li>
                                Instruction for NonTeaching
                            </li>
                                            
                            `
                            
                        }
                        // console.log(html)
                        document.getElementById('teachingandNonteaching').innerHTML = html
                        // console.log(document.getElementById('teachingandNonteaching'))
                    } else {
                        localStorage.removeItem('token')
                        window.location.href = '/'
                    }
                })
                .catch((error) => {
                    // localStorage.removeItem('token')
                    // window.location.href = '/'
                });
        }

        fetchUser()

    </script>
</body>

</html>