<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction</title>
    <link rel="stylesheet" href="../public/css/instruction.css">
</head>

<body>
    <div class="inst">
        <div class="timer" style="text-align: center;">
            Time
            <%- include ('./timer.ejs') %>
        </div>
        <h1>Instruction</h1>
        <ul>
            <li>point1</li>
            <li>point1</li>
            <li>point1</li>
            <li>point1</li>
            <li>point1</li>
        </ul>
        <a href="/quiz">
            <button type="button">Next</button>
        </a>
    </div>
    <script>
        if (localStorage.getItem('token')) {
        } else {
            window.location.href = '/'
        }
    </script>
</body>

</html>