<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/question.css">
    <title>Question Upload</title>
</head>

<body>
    <div class="header">
        <div class="heading">
            <h1>Question Panel</h1>
        </div>
    </div>
    <div class="QuestionForm">
        <div class="formfill">
            <form action="/question/addquestion" id="question_txt" method="post" encType='multipart/form-data'>
                <label for="stream">Stream</label>
                <select name="stream" id="stream" required>
                    <option value="">--select--</option>
                    <option value="Assistant Professor (Level-10) in CSE Department">Assistant Professor (Level-10) in CSE Department</option>
                    <option value="Assistant Professor (Level-10) in ECE Department">Assistant Professor (Level-10) in ECE Department</option>
                    <option value="Assistant Professor (Level-10) in MEA Department">Assistant Professor (Level-10) in MEA Department</option>
                    <option value="Assistant Registrar (NT-3)">Assistant Registrar (NT-3) and Technical Officer (NT-5) and Assistant Librarian (NT-6)</option>
                </select>
                <label for="ques">Question</label>
                <input type="text" name="ques" placeholder="Enter Question" id="ques">
                <label for="image">Upload Image</label>
                <input type="file" name="img" id="image">
                <label for="option1">A</label>
                <input type="text" name="option1" placeholder="Enter Option 1" id="option1" required>
                <label for="option2">B</label>
                <input type="text" name="option2" placeholder="Enter Option 2" id="option2" required>
                <label for="option3">C</label>
                <input type="text" name="option3" placeholder="Enter Option 3" id="option3" required>
                <label for="option4">D</label>
                <input type="text" name="option4" placeholder="Enter Option 4" id="option4" required>
                <!-- <input type="text" name="answer" placeholder="Enter Answer" id="answer"> -->
                <label for="answer">Answer</label>
                <select name="answer" id="answer" required>
                    <option value="">--select--</option>
                    <option value="option1">A</option>
                    <option value="option2">B</option>
                    <option value="option3">C</option>
                    <option value="option4">D</option>
                </select>
                <input type="submit" value="Add Question" id="add_question">
            </form>
        </div>
        <div class="display">
            <div class="question">
                <label for="stream">Stream</label>
                <select name="stream" id="stream" onchange="selectStream(this.value)" required>
                    <option value="Assistant Professor (Level-10) in CSE Department">Assistant Professor (Level-10) in CSE Department</option>
                    <option value="Assistant Professor (Level-10) in ECE Department">Assistant Professor (Level-10) in ECE Department</option>
                    <option value="Assistant Professor (Level-10) in MEA Department">Assistant Professor (Level-10) in MEA Department</option>
                    <option value="Assistant Registrar (NT-3)">Assistant Registrar (NT-3) and Technical Officer (NT-5) and Assistant Librarian (NT-6)</option>
                </select>
                <div class="questionShow" id="questionshow">
                    
                </div>
            </div>
            <div class="quiz" id="quizdisplay">
            
            </div>
        </div>
    </div>
    <script src="../public/js/question.js"></script>
</body>