<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/quiz.css">
    <title>QUIZ</title>
</head>
<body>
    <div class="timer">
        Timer
    </div>
    <div class="main">
        <div class="quiz" id="quizdisplay">
            <!-- <div class="mcq">
                <h3>1</h3>
                <h1>question</h1>
                <ul>
                    <li id="option1" onclick="setAnswer(1,'Princes')"><span> A </span> Princes</li>
                    <li id="option2" onclick="setAnswer(2,'king')"><span> B </span> king</li>
                    <li id="option3" onclick="setAnswer(3,'lion')"><span> C </span> lion</li>
                    <li id="option4" onclick="setAnswer(4,'tiger')"><span> D </span> tiger</li>
                </ul>
                <div class="answer"></div>
                <div class="submitbutton">
                    <button type="submit"> Submit </button>
                </div>
                <div class="differentquestion">
                    <button type="submit"> Previous </button>
                    <button type="submit"> Next </button>
                </div>
            </div> -->
        </div>
        <div class="question">question</div>
    </div>
    <script src="../public/js/quiz.js"></script>
</body>
</html>