<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/quiz.css">
    <title>QUIZ</title>
</head>

<body>
    <div class="header">
        <div class="detail" id="Detail">
        </div>
        <div class="timer">
            Time
            <%- include ('./timer.ejs') %> 
            <!-- <a href="/instruction">
                <button type="button">Instruction</button>
            </a> -->
        </div>
    </div>
    <div class="main">
        <div class="quiz" id="quizdisplay">
            
        </div>
        <div class="question">
            <h1>Navigate to question</h1>
            <div class="questionShow" id="questionshow">
                
            </div>
            <!-- <div>
                <button type="button" onclick="logout()">Finish</button>
            </div> -->
        </div>
    </div>
    <footer></footer>
    <script src="../public/js/quiz.js"></script>
</body>

</html>