<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <style>
        .loginform {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }

        #loginsubmit {
            border: 2px solid black;
            padding: 20px;
        }

        .inputdiv {
            margin: 10px;
        }

        .inputdiv input,
        .inputdiv select {
            width: 96%;
            font-size: 20px;
            margin: 10px 0px;
        }
    </style>
</head>

<body>
    <div class="loginform">
        <div id="warning" style="color: red;"></div>
        <form action="/user/adddata" id="loginsubmit" method="post">
            <h2 style="text-align: center;">Fill your details</h2>
            <div class="inputdiv">
                <label for="name">Name: </label>
                <input id="text" type="name" name="name" required>
            </div>
            <div class="inputdiv">
                <label for="stream">Stream</label>
                <select name="stream" id="stream" required>
                    <option value="">--select--</option>
                    <option value="CSE">CSE</option>
                    <option value="ECE">ECE</option>
                    <option value="MEA">MEA</option>
                    <option value="Math">Math</option>
                </select>
            </div>
            <div class="inputdiv">
                <label for="program">Program</label>
                <select name="program" id="program" required>
                    <option value="">--select--</option>
                    <option value="MTech">MTech</option>
                    <option value="Phd">Phd</option>
                </select>
            </div>
            <div class="inputdiv" style="text-align: center;">
                <input type="submit" value="Next">
            </div>
        </form>
    </div>
    <script>
        document.getElementById('loginsubmit').addEventListener('submit', (e) => {
            e.preventDefault();
            fetch(event.target.action, {
                method: "POST",
                headers: {
                    'auth_token': `${localStorage.getItem('token')}`
                },
                body: new URLSearchParams(new FormData(event.target)),
            })
                .then((res) => res.json())
                .then((body) => {
                    console.log(body);
                    if (body.status === 0) {
                        window.location.href = '/quiz'
                    } else {
                        document.getElementById('warning').innerHTML = "Invalid Credentials"
                    }
                })
                .catch((error) => {
                    document.getElementById('warning').innerHTML = "Invalid Credentials"
                });
        })
    </script>
</body>

</html>